.navbar {
    height: 40px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 3px;
}

.navbar-logo {
    color: #0066cc;
    font-weight: 700;
    font-size: 1.1rem;
}

.navbar-search-container {
    margin-left: 30%;
    padding-top: 5%;
    width: 150%;
    height: 80%;
}

.navbar-search {
    border-color: black;
    height: 100%;
}