.header {
    font-size: 1rem;
    font-weight: 900;
}

.header-reviews-count {
    display: inline-flex;
    align-items: center;
}

.add-feedback-btn {
    background-color: rgb(0, 102, 204);
    border-radius: 10px;
    border: none;
    padding: 7px 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.add-feedback-btn:hover {
    background-color: rgb(0, 102, 204, 0.8);
}

.reviews-overall-container {
    margin: 10px
}

.rating-list-element {
    display: inline-flex;
    align-items: center;
    margin: 10px 0px 0px 10px;
}

.progress-bar-container {
    border: 1px solid #cccbcbdc; 
    width: 60%; 
    display: inline-flex; 
    align-items: center;
    border-radius: 15px;
    padding: 0;
}

.progress-bar-value {
    background-color: gold;
    border-radius: 15px;
    width: 30%; 
    display: inline-block;
    height: 15px;
}

.star-value {
    font-size: 1.1rem;
    font-weight: 900;
    margin: 0px 5px;
}

.rating-overall-element {
    display: block ;
    font-size: 1.1rem;
    margin: 10px;
}

.rating-overall-element app-star {
    color: gold;
}

.review-user-container {
    display: inline-flex; 
    align-items: center;
    margin-bottom: 10px;
}

.review-user-icon {
    display: inline-block;
}

.review-user-date {
    display: block;
}

.review-rating-star {
    color: gold;
    font-size: 1.1rem
}

.review-project-title {
    margin: 10px 0px;
    font-weight: 900;
}

.review-reply-button {
    margin-top: 10px;
    color: #0066cc;
    cursor: pointer;
}