<ng-container >
  <!-- Header -->
  <div class="header row">
    <span class="col">
      <span class="filters-button" (click)="changeSidebarState()">
        <i class="material-icons filters-menu-icon">menu</i>
        Filters
        <i class="material-icons filters-hide-icon">{{opened ? 'chevron_left' : 'chevron_right'}}</i>
      </span>
    </span>
    <span class="col-6">
      Displaying 
      {{results}} 
      {{selectedCategories.length === 1 ? 'result' : 'results'}}
      {{selectedCategories.length > 0 ? 'for: ' : ''}} 
      <span *ngFor='let category of selectedCategories'><span class="agency-capability" [style.background-color]='colors[category.id - 1]'>{{category.name}}</span> </span>
    </span>
    <span class="col-3 text-right">
        Sort by: 
        <mat-form-field >
          <mat-select value="1" >
            <mat-option value="1" (click)='sortByHighestGrades()'>Highest grades</mat-option>
            <mat-option value="2" (click)='sortByLowestGrades()'>Lowest grades</mat-option>
          </mat-select>
        </mat-form-field>
    </span>
  </div>

<mat-sidenav-container class="example-container">

  <!-- Sidebar -->

    <mat-sidenav #sidenav 
                 mode="side" 
                 [(opened)]="opened" 
                 class="example-sidenav" 
                 (opened)="events.push('open!')"
                 (closed)="events.push('close!')" 
                 [fixedInViewport]="false" 
                 [fixedTopGap]="10" 
                 [fixedBottomGap]="10">
      <div>
        <div class="filters-category">
          <div class="filter-category-title-container">
            Category:
            <i class="material-icons filters-category-icon" (click)="toggle()">{{listCollapsed ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
          </div>
          <ul #listaDoZwiniecia style="overflow: hidden;">
            <li *ngFor='let category of shownCategories'><mat-checkbox (click)='onCategoryChange(category)'>{{category.name}}</mat-checkbox></li>
            <li class="show-more-button" (click)='changeShowMoreCategoriesState()'>{{showingAllCategories ? 'Show more' : 'Hide'}}</li>
          </ul>
        </div>
        <div class="">
          Capabilities:
        </div>
        <div class="">
          Rating:
        </div>
        <div class="">
          Contract type:
        </div>
      </div>
    </mat-sidenav>
  
    <!-- Content -->

    <mat-sidenav-content style="min-height: 800px;">
      <div class="row content" *ngFor='let agency of getFilteredList()'>
        <div class="col-lg-2 col-md-2 agency-logo-container">
          <img [src]='agency.logoUrl' alt="logo" class="img-fluid agency-logo" />
        </div>
        <div class="col-lg-8 col-md-7" >
          <div class="agency-title-row">
            <div>
              <h5 class="agency-name">{{agency.name}}</h5>
              <span class="agency-localization">
                <i class="material-icons">place</i>{{agency.localization}}
              </span>
              <span class="agency-add-to-favourite">
                  <i class="material-icons">favorite_border</i>Add to favourite
              </span>
            </div>
          </div>
          <div class="agency-content">
              {{agency.description}}
          </div>
          <div class="agency-capabilities-container">
            <span class="agency-capability-title">Top capabilities:</span>
            <span class="agency-capability"  [style.background-color]='colors[category.id - 1]' *ngFor='let category of agency.categories'>{{category.name}}</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 agency-rating">
          <div class="agency-rating-stars">
            <app-star [rating]='agency.rating'></app-star>
          </div>
          <div class="agency-rating-title">{{ratingMessage[agency.rating - 1].name}}</div>
          <div class="agency-rating-reviews">{{agency.reviews}} reviews</div>
          <div class="agency-rating-show-more-btn">SHOW MORE</div>
        </div>
      </div>
    </mat-sidenav-content>

</mat-sidenav-container>
</ng-container>
