.header {
    font-weight: 900;
    margin-bottom: 10px;
}

.project-container {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 20px;
    height: 100%;
}

.project-show-more-container {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: blue;
    cursor: pointer;
}

.category {
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 10px;
    background-color: #8ab5e4;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.project-show-button {
    color: blue;
    margin-top: 5px;
    cursor: pointer;
}