<div class="row" >
  <div class="col-md-12 header">
    Previously done for Roche:
  </div>
  <div class="col-md-3">
    <div class="project-container">
      <div class="category">Photography</div>
      <div class="project-description">Portraits of employees for ABC projects</div>
      <div class="project-show-button">Show</div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="project-container">
      <div class="category">Photography</div>
      <div class="project-description">Portraits of employees for ABC projects</div>
      <div class="project-show-button">Show</div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="project-container">
      <div class="category">Photography</div>
      <div class="project-description">Portraits of employees for ABC projects</div>
      <div class="project-show-button">Show</div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="project-show-more-container">
        Show more past projects
    </div>
  </div>
</div>

<hr />