<div>
  <img src="../../../assets/img/mainPageBanner.png" alt="Banner" class="img-fluid"/>
  <h3 class="text-center welcome-text">Welcome to Agencies Database</h3>
  <h5 class="text-center question-text">What do you want to do?</h5>

  <div class="card-group">
      <div class="card text-center">
          <i class="material-icons card-icon">search</i>
        <div class="card-body">
          <h5 class="card-title card-text">I want to find agencies specialized in </h5>
          <div class="dropdown">
            
            <div class="dropbtn-container"><div class="dropbtn">photography</div><i class="material-icons dropbtn-icon">arrow_drop_down</i></div>

            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary card-button">SHOW</button>
      </div>
      <div class="card text-center">
          <i class="material-icons card-icon">feedback</i>
          <div class="card-body">
            <h5 class="card-title card-text">I want to leave a feedback in : </h5>
            <div class="dropdown">
                <div class="dropbtn-container"><div class="dropbtn">Agency XYZ</div><i class="material-icons dropbtn-icon">arrow_drop_down</i></div>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary card-button">GIVE FEEDBACK</button>
        </div>
        <div class="card text-center">
            <i class="material-icons card-icon">wb_incandescent</i>
            <div class="card-body">
              <h5 class="card-title card-text">I want to find inspirations in : </h5>
              <div class="dropdown">
                  <div class="dropbtn-container"><div class="dropbtn">movies</div><i class="material-icons dropbtn-icon">arrow_drop_down</i></div>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary card-button">SHOW PAST PROJECTS</button>
          </div>
    </div>

</div>
